{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
                <p>Hello there, 😄 my name is Audran Tj am a junior developer and welcome to my personal blog. We in almost at the end of year 2022 and building this blog was part of my projects, so i can share my thoughts with different people around the world.</p>
        <p>The love for Technology has always been a high appeal for me grown in a tech-related Enviroment I found interest in the domain and am still learning by contributing in different projects abd working on my personal capstone project.</p>
        <p>
          ...... I acknowledge from the internet, into video, music, podcasting and content. As far as programming is concern am still learning but applying them directly to the community.Don't forget to send me a message if you got any question or linked-up building project.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}